@model IEnumerable<FinalProject1.Models.GuestResponses>

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Responses</title>
</head>
<body>
    <h2>Here is the list of people attending the party</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>NetID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FinalProject1.Models.GuestResponses r in Model)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.Email</td>
                    <td>@r.NetID</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>