@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <h2> @ViewBag.Greeting World. I'm Brandon Wolfram and I'm graduating from college.</h2>
        <p> We're going to have an exciting graduation party!</p>
        <p>If you want to leave a graduation gift please use this bitcoin address:
        <br /><b>3PL49jzgPqeaWShphsiSXpin9XcsMHmCCH</b>
        </p>
        <a asp-action="RsvpForm">RSVP Now</a>
    </div>
</body>
</html>